.flex-grid {
    display: flex;
}

.flex-grid .col {
    flex: 1;
}

.mouseOver{
  background: blue;
}

body {
    padding: 20px;
  }
  .flex-grid { 
    margin: 0 0 0 0;
  }
  .col {
    background: salmon;
    padding: 20px;
  }

  